<h1 mat-dialog-title>Ajouter votre card</h1>
<div mat-dialog-content>
    <form class="form-control" [formGroup]="addCardForm" (ngSubmit)="addCard()">
        <div class="row">
          <div class="col">
            <div class="hide-md-lg">
              <p></p>
            </div>
            <input type="text" class="form-control" name="titre" placeholder="Titre" formControlName="titreCard" required> <br>
            <input type="text" class="form-control" name="titre" placeholder="ColumnId" formControlName="columnId" required><br>
            <input type="submit" class="btn btn-warning" value="Ajouter">
          </div>
        </div>
      </form>
</div>