<div class="col-sm-4">
    <div class="container mt-3">
        <div class="card" style="width:300px">
            <div class="card-body">
                <h2 class="card-title"> {{column.titreColumn}}
                    <button type="button" mat-button (click)="openDialog(column._id)" class="btn btn-warning"><i
                            class="fa fa-edit"></i></button>
                    <button type="button" (click)="deleteColumn(column._id)" class="btn btn-danger"><i
                            class="fa fa-trash"></i></button> <button type="button" (click)="openCardDialog(column._id)"
                        class="btn btn-dark"><i class="fa fa-plus-square"></i></button><br>
                </h2>
                <p class="card-text">{{column.textColumn}}
                </p>
                
                <div class="mycard" [id]="column._id" cdkDropList [cdkDropListData]="cards"
                    (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="columnIds">
                    <app-card [card]="card" *ngFor="let card of cards" (onCardUpdated)="cardUpdated($event)"
                        (onCard)="deleteCard($event)" cdkDrag></app-card>

                </div>
            </div>
        </div>
    </div>
</div>