.btn-dark{
    margin-right: 10px;
}
.btn-danger{
    margin-left: 10px;
}

//.container-fluid{}

.container-fluid h1{
    font-weight:bold ;
    font-size: 30px;
}


// Drag and drop

  app-column {
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }
  
 
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  