​
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>My Trello</h1>
    <p>Un petit clone de l'application Trello!</p>
    <a routerLink="/add-column"><button type="button" class="btn btn-dark">add-column</button></a>
    <a routerLink="/add-card"><button type="button" class="btn btn-danger">add-card</button></a>

</div>
<div class="container mt-5">
    <div class="row">
        <app-column [column]="column" *ngFor="let column of columns" (onColumnUpdated)="columnUpdated($event)">
        </app-column>
    </div>
</div>
​